@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

nav{
    padding: 4px 2em;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    /* background-color: #f1f1f1; */
    position: sticky;
    top: 0;
}

nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}

nav>button{
    padding: 4px;
    color: white;
    background-color: #000;
    border-radius: 16px;
}

#header{
    /* color: aqua; */
    position: relative;
    overflow: hidden;
}

#page{
    color: aqua;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
}