@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Poppins',sans-serif; if want entire page use this*/
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}

.container{
    margin: 20px;
    /* background-color: aqua; */
}

nav>h3{
    font-weight: 400;
    font-size: 22px;
}

nav .container>button{
    padding: 0 8px;
    color: white;
    background-color: #000;
    border-radius: 16px;
}

#header{
    /* color: aqua; */
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

#loop{
    display: flex;
    position: absolute;/*make it in the middle*/
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}

#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}

@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}